

<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="little-form jumbotron" id="recipe-slide-1">

<div class="container">
    <span class="glyphicon glyphicon-hand-down text-center"></span>
    <h2>New Recipe</h2>
    <div class="box">
        
       
              <div class="form-group">
                <%= f.label :name, "Name Your Recipe" %><br>
                <%= f.text_field :name, class: "form-control" %>
              </div>
        
        
        
              <div class="form-group" style="display:none;">
                <%= f.label :description, "Describe What It Does (optional)" %><br>
                <%= f.text_area :description, class: "form-control" %>
              </div>

            
         
              <div class="form-group">
                    <%= f.label :site, "Which Site Is This For?" %>
                    <%= collection_select(:recipe, :site_id, Site.all, :id, :name, {:prompt=> "Select A Site"}, {:class => "form-control"} ) %>
                  </div>

                   <button class="btn btn-default full-width"><span class="glyphicon glyphicon-ok"></span></button>
             
         
    </div>
</div>  
</div>
 <div class="hero" id="recipe-slide-2">

    <span class="glyphicon glyphicon-fire"></span>
    <h2>If THIS</h2>


                <div class="form-group">
                    <%= f.label :channel, "Choose A Trigger Channel" %>
                    <%= collection_select(:recipe, :trig_channel_id, Channel.all, :id, :name, {:prompt=> "Select A Channel"}, {:class => "form-control"} ) %>
                  </div>
</div>

                  <div class="hero" id="recipe-slide-3">
                  Channel Logo Goes Here<br>
                  Available channel triggers get listed here.
                  </div>

                  <div class="hero" id="recipe-slide-4">
                  Channel Logo Goes Here<br>
                  Available trigger ingredient fields get listed here
                  </div>


   
<div class="hero" id="recipe-slide-5">

<span class="glyphicon glyphicon-play-circle"></span>
    <h2>Then THIS</h2>


                <div class="form-group">
                    <%= f.label :channel, "Choose An Action Channel" %>
                    <%= collection_select(:recipe, :act_channel_id, Channel.all, :id, :name, {:prompt=> "Select A Channel"}, {:class => "form-control"} ) %>
                  </div>
</div>
                  <div class="hero" id="recipe-slide-6">
                  Channel Logo Goes Here<br>
                  Available channel actions get listed here.
                  </div>

                   <div class="hero" id="recipe-slide-7">
                    Channel Logo Goes Here<br>
                  Available action ingredient fields get listed here
                  </div>


<div class="hero" id="recipe-slide-8">

    <span class="glyphicon glyphicon-ban-circle"></span>
    <h2>UNLESS THIS</h2>


                <div class="form-group">
                    <%= f.label :channel, "Choose A Trigger Channel" %>
                    <%= collection_select(:recipe, :trig_channel_id, Channel.all, :id, :name, {:prompt=> "Select A Channel"}, {:class => "form-control"} ) %>
                  </div>
</div>
                  <div class="hero" id="recipe-slide-9">
                  Available channel triggers get listed here.
                  </div>

                  <div class="hero" id="recipe-slide-10">
                  Available trigger ingredient fields get listed here
                  </div>

   
    
<div class="jumbotron" id="recipe-slide-11">
<div class="container">
<div class="row">

                  <div class="col-xs-12 col-sm-12 col-md-12">
                  Recipe summary goes here:
                    <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <h2>IF __________</h2>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <h2> Then __________ </h2>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <h2>UNLESS __________</h2>
                    </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12">
        <p>Turn it on now? Or save it for later?</p>
             <div class="btn-group" data-toggle="buttons">
             <label class="btn btn-primary">
               <%= f.radio_button :status, "active", id: 'active', value: "active"%>
               Start It Now
               </label>
                 <label class="btn btn-primary">
               <%= f.radio_button :status, "scheduled", id: 'scheduled', value: "scheduled" %>
              Schedule It To Run
               </label>
                <label class="btn btn-primary">
               <%= f.radio_button :status, "inactive", id: 'inactive', value: "inactive" %>
               Just Save It For Now!
               </label>
              

              </div><br>
               drop down calendar and time when schedule is chosen
              -need fields/values for start and end time/date
        </div>

        </div>

             <div class="row">
             <div class="col-xs-12 col-sm-4 col-md-4 text-center">
             </div>
                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                      <%= button_tag( :class => "btn btn-default full-width") do %>
      <span class="glyphicon glyphicon-ok"></span>
    <% end %>
    </div> <div class="col-xs-12 col-sm-4 col-md-4 text-center">
             </div>
                    </div>

        </div></div>
<% end %>


