= render "recipes/selector_pick"
:css
  .slide {display:none}
.container
  = form_for(@recipe) do |f|
    - if @recipe.errors.any?
      #error_explanation
        %h2
          = pluralize(@recipe.errors.count, "error")
          prohibited this recipe from being saved:
        %ul
          - @recipe.errors.full_messages.each do |msg|
            %li= msg
    - if !current_user
      #sign_up.form-inline
        %h1 Create An Account
        .form-group
          %label Email:
          %input.form-control{:name => "new_user[email]", :placeholder => "email", :type => "email"}/
        .form-group
          %label Password:
          %input.form-control{:name => "new_user[password]", :placeholder => "password", :type => "password"}/
        %br/
        %br/
        %a.btn.form-btn{:href => "javascript:$(\"#sign_up\").hide();$(\"#sign_in\").show();"} Already Have An Account? Click Here
      #sign_in.form-inline{:style => "display:none"}
        %h1 Sign In
        .form-group
          %label Email:
          %input.form-control{:name => "user[email]", :placeholder => "email", :type => "email"}/
        .form-group
          %label Password:
          %input.form-control{:name => "user[password]", :placeholder => "password", :type => "password"}/
        %br/
        %br/
        %a.btn.form-btn{:href => "javascript:$(\"#sign_in\").hide();$(\"#sign_up\").show();"} I don't have an account
    #recipe-slide-1
      .container1
        %h1.form-section-header
          Specify A Web Address
        %p.form-section-description
          Use a full web address where you would like to add SiteFoil functionality. Each new recipe may only belong to one website of your choice:
        .box
          .form-group
            - if current_user
              #site_select
                = collection_select(:recipe, :site_id, current_user.sites, :id, :name_or_url, {:prompt=> "select a site"}, {:class => "form-control"} )
                %a{:href => "javascript:$(\"#site_select\").hide();$(\"#site_create\").show();"} create new site
              #site_create{style:'display:none'}
                %input.form-control{:name => "new_site_url", :placeholder => "url"}
                %a{:href => "javascript:$(\"#site_create\").hide();$(\"#site_select\").show();"} select existing site
            - else
              %label Site url:
              %input.form-control{:name => "new_site_url", :placeholder => "url"}
    #recipe-slide-11
      .container2
        %h1.form-section-header
          Name Your Recipe
        .row
          .col-xs-12.col-sm-12.col-md-12
            .form-group
              = f.text_field :name, :placeholder => "enter a name", class: "form-control"
        %h1.form-section-header
          Create Your Recipe
        .row
          .col-xs-12.col-sm-12.col-md-12    
            .form-group
              = render "recipes/wizard"
            .form-group
              = f.check_box :enabled
              = f.label :enabled, "Enable This Recipe Now? Leave unchecked to save for later"
            .form-group{ style: 'display:none' }
              = f.label :name, "JSON"
              %br/
              = f.text_area :wizard_json, rows: 3, class: "form-control"
            .form-group{ style: 'display:none' }
              = f.label :name, "JS"
              %br/
              = f.text_area :js, rows: 3, class: "form-control"
        .row
          .col-xs-12.col-sm-4.col-md-4.text-center
          .col-xs-12.col-sm-4.col-md-4.text-center
            = button_tag( :class => "btn btn-default full-width") do
              %span.glyphicon.glyphicon-ok
          .col-xs-12.col-sm-4.col-md-4.text-center