
<div class="container">
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="recipe-slide-1">

<div class="container">
  <h2 class="form-section-header">Choose A Website
      <span class="form-section-step">Step 1 of 7</span>
  </h2>
  <p class="form-section-description">
      Each recipe can only belong to one website of your choice:
  </p>
   
    <div class="box">
        
       

            
         
              <div class="form-group">
                   
                    <%= collection_select(:recipe, :site_id, Site.all, :id, :name, {:prompt=> "Select A Site"}, {:class => "form-control"} ) %>
                  </div>

             
         
    </div>
</div>  
</div>
 <div class="hero" id="recipe-slide-2">
 <div class="container">

    <h2 class="form-section-header">Choose A Trigger Channel
      <span class="form-section-step">Step 2 of 7</span>
  </h2>
  <p class="form-section-description">
      Below are all the available channels that provide a trigger:
  </p>


                <div class="form-group">
                    <%= f.label :channel, "Choose A Trigger Channel" %>
                    <%= collection_select(:recipe, :trig_channel_id, Channel.all, :id, :name, {:prompt=> "Select A Channel"}, {:class => "form-control"} ) %>
                  </div>
</div>
</div>



                  <div class="hero" id="recipe-slide-3">
                  <div class="container">


    <h2 class="form-section-header">Choose A Trigger
      <span class="form-section-step">Step 2 of 7</span>
  </h2>
 
               
                  Available channel triggers get listed here.
                  </div>
                  </div>

                  <div class="hero" id="recipe-slide-4">
                  <div class="container">

                    <h2 class="form-section-header">Complete Trigger Fields
      <span class="form-section-step">Step 2 of 7</span>
  </h2>
  <h3>Trigger Name Goes Here</h3>
                
                <p>  Available trigger ingredient fields get listed here, unless none to complete</p>
                  </div>
                  </div>

<div class="hero" id="recipe-slide-5">
<div class="container">

    <h2 class="form-section-header">Choose An Additional Trigger Channel or <a href="#">Skip This</a>
      <span class="form-section-step">Step 2 of 7</span>
  </h2>
   <p class="form-section-description">
      Use available trigger channels to add a second rule to your original trigger (optional):
  </p>
 

                <div class="form-group">
                
                    <%= collection_select(:recipe, :trig_channel_id, Channel.all, :id, :name, {:prompt=> "Select A Channel"}, {:class => "form-control"} ) %>
                  </div>
</div></div>
                  <div class="hero" id="recipe-slide-6">
                 <div class="container">


    <h2 class="form-section-header">Choose A Trigger
      <span class="form-section-step">Step 2 of 7</span>
  </h2></div>
                  </div>

                  <div class="hero" id="recipe-slide-7">
                 <div class="container">

                    <h2 class="form-section-header">Complete Trigger Fields
      <span class="form-section-step">Step 2 of 7</span>
  </h2>
  <h3>Trigger Name Goes Here</h3>
                
                <p>  Available trigger ingredient fields get listed here, unless none to complete</p>
                  </div>
                  </div>
                  </div>
   
<div class="hero" id="recipe-slide-8">
<div class="container">

 <h2 class="form-section-header">Choose An Action Channel
      <span class="form-section-step">Step 3 of 7</span>
  </h2>
   <p class="form-section-description">
      Below are all the available channels that provide an action:
  </p>

                <div class="form-group">
                    
                    <%= collection_select(:recipe, :act_channel_id, Channel.all, :id, :name, {:prompt=> "Select A Channel"}, {:class => "form-control"} ) %>
                  </div>
</div></div>
                  <div class="hero" id="recipe-slide-9">
                  <div class="container">
                   <h2 class="form-section-header">Choose An Action
      <span class="form-section-step">Step 4 of 7</span>
  </h2>
                  
                  Available channel actions get listed here.
                  </div>
                  </div>

                   <div class="hero" id="recipe-slide-10">
                   <div class="container">
                    <h2 class="form-section-header">Complete Action Fields
      <span class="form-section-step">Step 5 of 7</span>
  </h2>
                   
                  Available action ingredient fields get listed here
                  </div>
                  </div>




   
    
<div class="jumbotron" id="recipe-slide-11">
<div class="container">
<div class="row">

                  <div class="col-xs-12 col-sm-12 col-md-12">
                  Recipe summary goes here:
                    <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <h2>IF __________</h2>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <h2> Then __________ </h2>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <h2>UNLESS __________</h2>
                    </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12">
        <p>Turn it on now? Or save it for later?</p>
             <div class="btn-group" data-toggle="buttons">
             <label class="btn btn-primary">
               <%= f.radio_button :status, "active", id: 'active', value: "active"%>
               Start It Now
               </label>
                 <label class="btn btn-primary">
               <%= f.radio_button :status, "scheduled", id: 'scheduled', value: "scheduled" %>
              Schedule It To Run
               </label>
                <label class="btn btn-primary">
               <%= f.radio_button :status, "inactive", id: 'inactive', value: "inactive" %>
               Just Save It For Now!
               </label>
              

              </div><br>
               drop down calendar and time when schedule is chosen
              -need fields/values for start and end time/date
        </div>

         <div class="form-group">
                <%= f.label :name, "Name Your Recipe" %><br>
                <%= f.text_field :name, class: "form-control" %>
              </div>

        </div>

             <div class="row">
             <div class="col-xs-12 col-sm-4 col-md-4 text-center">
             </div>
                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                      <%= button_tag( :class => "btn btn-default full-width") do %>
      <span class="glyphicon glyphicon-ok"></span>
    <% end %>
    </div> <div class="col-xs-12 col-sm-4 col-md-4 text-center">
             </div>
                    </div>

        </div></div>
<% end %>

</div>


