		<div class='action_params' data-action-name='<%= action[:name] %>' style='display:none'>
			<% action[:params].each do |param| %>
				<% param_name = (param[:name] rescue param) %>
				<% if (param[:input_type] rescue false) == :selector_pick %>
					<%= ((param[:caption] || param_name) rescue param_name).to_s.gsub("_"," ") %>:
					<input class='action_param' name=<%= param_name %>>
					<input type=button value='...' style='margin-left:-35px' 	class='selector_pick'>

					<div class="help-text well">
					<i class="glyphicon glyphicon-heart primary">   </i> <span class="primary" style="margin-left:5px;">Tip:</span> <%= action[:help] %>
					</div>

				<% elsif (param[:input_type] rescue false) == :textarea %>
					<br><%= ((param[:caption] || param_name) rescue param_name).to_s.gsub("_"," ") %>:<br>
					<textarea class=action_param name=<%= param_name %>></textarea>

					<div class="help-text well">
					<i class="glyphicon glyphicon-heart primary">   </i> <span class="primary" style="margin-left:5px;">Tip:</span> <%= action[:help] %>
					</div>

				<% elsif (param[:input_type] rescue false) == :checkbox %>
					<div class="checkbox">
					<label>	
					<input id=<%= param_name%> type="checkbox" style="-webkit-appearance: checkbox; width:inherit;" class="checkbox action_param" name=<%= param_name %>><%= param_name %>
					</label>

					
					</div>
					<br>
				<% else %>
					<%= param_name.to_s.gsub("_"," ") %>: <input class=action_param name=<%= param_name %>>
				<% end %>



			<% end %>
		</div>
