<script>
// enabling html5 input type=date for FF
$(function(){ 
	webshims.setOptions('forms-ext', {types: 'date time'});
	webshims.polyfill('forms forms-ext');
});
</script>
<%= javascript_include_tag "recipe_wizard" %>
<style>
#recipe_wizard, #recipe_wizard input, #recipe_wizard select {
	font-size: 25px !important; margin: 10px 0;
}

#recipe_wizard .trigger .remove {
	position:absolute;
	margin-left:-55px;
	margin-top:8px;
	cursor: pointer;
}

#recipe_wizard .trigger .remove .glyphicon {
	font-size: 18px !important;
}


#recipe_wizard input#trigger_param, #recipe_wizard input.ws-inputreplace {
	width: 22% !important;
}

#recipe_wizard textarea {
	width: 100%;
	line-height: 25px;
	height: 120px;
}

select, input[type=text], input[type=date], input[type=time], #recipe { 
	border:0; color:#000000; background: #fff;
	font-size:20px; font-weight:bold; padding:2px 10px; 
 *background:#FFFFFF; -webkit-appearance: none; 
}

#action_params label { font-weight: normal;}

</style>


<script>

$(function() {
	if(location.href.indexOf("rebuild")>0) {
	  console.log("rebuilding and saving and closing")
	  js_show()
	  buildRecipe()
	  $("form").submit(function(e) {
			e.preventDefault(); // don't submit multiple times
    	this.submit(); // use the native submit method of the form element
	  }).submit()

	}
});

</script>

<div style='display:none'>
	<% ApplicationHelper::triggers.each do |trigger| %>
		<%= render partial: "wizard_trigger_methods", locals: {trigger: trigger} %>
	<% end %>
</div>

<div style='display:none'>
	<% ApplicationHelper::triggers.each do |trigger| %>
		<%= render partial: "wizard_trigger_params", locals: {trigger: trigger} %>
	<% end %>
</div>


<div id=trigger_template style='display:none'>
  <div class=trigger>
  	<div class='remove' onclick='onConditionDelete.apply(this)'>
  		<button type="button" class="btn btn-danger btn-circle">
  		<i class="glyphicon fa fa-trash"></i></button>
  	</div>
	
		if 

		<select id=trigger_name onchange='onTriggerChange.apply(this)' style='font-size:40px'>
			<option value=''>-- select variable -- </option>
			<% ApplicationHelper::triggers.sort_by{ |r| r[:name]}.each do |trigger| %>
			  <option value='<%= trigger[:name] %>' data-js='<%= trigger[:js] %>'><%= trigger[:name] %></option>
			<% end %>
		</select>

		<select id=trigger_method style='display:none' onchange='onTriggerMethodChange.apply(this)'>
		</select>

		<span id=trigger_param_wrap>
		</span>

		<select id=logic onchange='onLogicChange.apply(this)' style='display:none'>
				<option value=''></option>
				<option value='&&'>and</option>
		</select>
	</div>

</div>



<div id=recipe_wizard style='font-size:40px'>

	<div id=triggers>

	</div>

	then

	<select id=action onchange='onActionChange()'>
		<option value=''>-- select action -- </option>
		<% ApplicationHelper::actions.sort_by{ |r| r[:name]}.each do |action| %>
			<option data-js='<%= action[:js] %>' value='<%= action[:name] %>'><%= action[:name] %></option>
		<% end %>
	</select>

  <span id=action_params>
  </span>

	<% ApplicationHelper::actions.each do |action| %>
		<%= render partial:"wizard_action_params", locals: {action:action} %>
	<% end %>

</div>