<%= render 'pages/home' unless user_signed_in? %>
<% if user_signed_in? %>


<style>
  table.recipes td, table.recipes th {
    padding: 10px 10px; 
  }

  .highlighted {
    background: #5bc0de;
  }

</style>

<script>
  function show_rebuild_buttons() {
    $(".rebuild").show()
  }

  function rebuildAll() {
    var hrefs = []

    $(".rebuild").each(function() {
      hrefs.push($(this).attr("href"))
    })

    var i =0;
    var windows = []
    var interval = setInterval(function() {

      windows.push(window.open(hrefs[i],"_blank"))
      i++

      if(i==hrefs.length) {
        clearInterval(interval)
      }

    },2000)

    setTimeout(function() {
      for(var i=0;i<windows.length;i++) {
        windows[i].close()
      }
    },hrefs.length*2000+4000)

  }

  $(function() {
    if(location.href.indexOf("?rebuild")>0) {
      rebuildAll()
    }

    <% if session[:highlight_recipe_id] %>
    $('html,body').animate({
      scrollTop: $("#recipe_<%= session[:highlight_recipe_id]%>").offset().top-40
    }, 1000);

  })
  <% end %>

</script>


<h1>Your Recipes</h1>

<hr>
<% @recipes.order(:created_at).each do |recipe| %>

<%
add_class = ""
if session[:highlight_recipe_id]==recipe.id 
  session.delete :highlight_recipe_id
  add_class='highlighted' 
end
%>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default <%=add_class%>" id="recipe_<%= recipe.id %>">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12">
                <h3 class="panel-title"><%= recipe.name_or_action %></h3>
              </div>

            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 col-sm-12">

                <h4><strong>Site:</strong> <%= recipe.site.url rescue '' %></h4>
                <h4><strong>Status:</strong> <%= recipe.enabled ? "running" : "disabled" %></h4>
                <h4><strong>Times Ran:</strong> <%= recipe.hits %></h4>
                <h4><strong>Last Run:</strong> <%= recipe.hit_last_time_human %></h4>
                <a href="/recipes/<%= recipe.id %>/edit?rebuild" style='display:none' class='rebuild' target=_blank>Rebuild</a>

              </div>
            
          </div>
        </div>
        </div>
      </div>
       <div class="col-md-4" style="margin-bottom:20px;">
            <div class="row">
              <div class="col-md-3" style="display:none;">
                <%= link_to 'Preview', recipe.preview_url, class:"btn btn-info btn-xs hidden", target: "_blank", data: { no_turbolink: true } %>  
              </div>

              <div class="col-md-4 col-sm-4 col-xs-4">
               <%= link_to edit_recipe_path(recipe), class: "rounded-box box-btn", data: { no_turbolink: true } do %>
                  <i class="glyphicon big-glyphicon fa fa-pencil-square"></i><br />Edit 
               <% end %>
             </div>
             
             <div class="col-md-4 col-sm-4 col-xs-4">
              <%= link_to recipe, class: "rounded-box box-btn", method: :delete, data: { confirm: 'Are you sure?' } do %>
               <i class="glyphicon big-glyphicon fa fa-trash"></i><br />Delete 
               <% end %>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
              <%= link_to duplicate_recipe_path(recipe), class: "rounded-box box-btn" do %>
              <i class="glyphicon big-glyphicon fa fa-plus-square"></i><br />Duplicate 
               <% end %>
            </div>
            </div>
        </div>
    </div>

<% end %>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary", data: { no_turbolink: true }%>
<% end %>



