<%= render 'pages/home' unless user_signed_in? %>
 <% if user_signed_in? %>

<style>
table.recipes td, table.recipes th {
  padding: 10px 10px; 
}
</style>

<script>
function devhere() {
  console.log("welcome dude")
  $(".rebuild").show()
}

function rebuildAll() {
  var hrefs = []

  $(".rebuild").each(function() {
    hrefs.push($(this).attr("href"))
  })

  var i =0;
  var windows = []
  var interval = setInterval(function() {

    windows.push(window.open(hrefs[i],"_blank"))
    i++

    if(i==hrefs.length) {
      clearInterval(interval)
    }

  },2000)

  setTimeout(function() {
    for(var i=0;i<windows.length;i++) {
      windows[i].close()
    }
  },hrefs.length*2000+4000)

}

$(function() {
  if(location.href.indexOf("?rebuild")>0) {
    rebuildAll()
  }

})
</script>

 
<h1>Your Recipes</h1>
<hr>
 <% @recipes.order(:created_at).each do |recipe| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
              <div class="col-md-12">
                <h3 class="panel-title"><%= recipe.name_or_action %></h3>
              </div>
             
            </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-sm-12">

                <h4><strong>Site:</strong> <%= recipe.site.url rescue '' %></h4>
                <h4><strong>Status:</strong> <%= recipe.enabled ? "running" : "disabled" %></h4>
                <h4><strong>Times Ran:</strong> <%= recipe.hits %></h4>
                <h4><strong>Last Run:</strong> <%= recipe.hit_last_time %></h4>
                <a href="/recipes/<%= recipe.id %>/edit?rebuild" style='display:none' class='rebuild' target=_blank>Rebuild</a>
                
            </div>
            <div class="col-md-6 col-sm-12">
              
           
              
                  <p>
                   

                
                   <%= link_to 'Preview', recipe.preview_url, class:"btn btn-info btn-xs", target: "_blank", data: { no_turbolink: true } %>  </p>
                   <p>

                   <%= link_to 'Edit Recipe', edit_recipe_path(recipe), class: "btn btn-primary btn-xs", data: { no_turbolink: true } %></p>
                   <p>

                    <%= link_to 'Delete',recipe, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></p>
                    
                 </p>
               
            </div>
          </div>
        </div>
    </div>

<% end %>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary" %>
<% end %>



