<%
=begin
RECIPE CREATE TEST, chrome browser console code:
animation_speed=0.1;$('#site option:last-child').attr("selected", "selected").trigger("change");$(".trigger_select:first").trigger("click");$(".trigger_params:visible select option:eq(1)").attr('selected','selected');$("#set_action").trigger("click");$("#alert").click();$(".action_params[data-action-name=alert] .action_param").val("test");$("#save_recipe").trigger("click");
=end
%>
<script src=/bower_components/underscore/underscore-min.js></script>
<script src=/bower_components/underscore.string/dist/underscore.string.min.js></script>
<script src=/bower_components/webshim/js-webshim/minified/polyfiller.js></script>

<style>

.step {
	position: relative;
}
.step .overlay_disabled {
  position: absolute;
  width: 100%;
  height: 100%;
 	display: none;
}

.step.hidden_step .overlay_disabled {
	display: block;
}

#site option {
	font-size: 14px;
}

a {
	cursor: pointer;
}
.step {
	border-top: 1px solid black;
}

.wizard-progress {
	font-size: 14px;
	text-align: right;
	height: 14px;
}

.trigger_select.selected {
	background: #ddd;
}

.trigger_select, .action_select {
	cursor: pointer;
}

.step {
	display:none;
	padding: 20px;
}

ul.steps {
	list-style: none;
}

.trigger_settings {
	display: none;
}

.trigger_delete {
	position: absolute;
	margin-left: -80px;
	margin-top: 20px;
	display: none;
}

.back {
	display: none;
}

.trigger_select, .action_select { 
	cursor: pointer;
	display: inline-block;
	border: 1px solid black;
	margin: 5px;
	padding: 5px 10px;
}

select, input[type=text], input[type=date], input[type=time], #recipe, #trigger_param, .action_param { 
	border:0; color:#000000; background: #fff;
	font-size:20px; font-weight:bold; padding:2px 10px; 
 *background:#FFFFFF; -webkit-appearance: none; 
 	margin: 0 5px;
}

input.action_param {
	width: 100%;
}

.step.hidden_step a {
   pointer-events: none;
   cursor: default;
}


textarea.action_param {
	width:100%;
	height: 200px;
}

.trigger_settings {
	min-height: 40px;
}

</style>

<script>

var animation_speed = 1;

function toTriggerParams(trigger_name) {
	$(this).addClass("selected")
	toNextStep.apply(this);
	var trigger_settings = $(".step.trigger_params:last .trigger_settings[data-trigger-name='"+trigger_name+"']")
	$(".step.trigger_params:last .trigger_name").html(trigger_name)
	$(".step.trigger_params:last .trigger_settings").hide()
	trigger_settings.show()
	trigger_settings.find("#trigger_param").hide()
	trigger_settings.find(".trigger_method").val('')

	var trigger_method =	trigger_settings.find(".trigger_method")
	if(trigger_method.find("option").length==2) {
		trigger_method.val(trigger_method.find("option:last").val())
			.attr("disabled", true); 
	}
}

function toActionParams(action_name) {
	toStep("action_params");

	$(".step.action_params .action_name").html(action_name);

  $(".step.action_params .action_params").hide();
  $(".step.action_params .action_params[data-action-name='"+action_name+"']").show()
}



var trigger_count = 1;

function anotherTrigger() {
	trigger_count++;
	var cur_step = $(this).parents(".step");

	cur_step.after($(".step.trigger_params")[0].outerHTML)
	cur_step.after($(".step.trigger")[0].outerHTML)

	$(".step.trigger:last").hide().addClass("and trigger_"+trigger_count)
	$(".step.trigger_params:last").hide().addClass("and trigger_params_"+trigger_count)

	$(".step.trigger_"+trigger_count+" .trigger").attr("onclick",'toStep("trigger_params_'+trigger_count+'")')

	toStep("trigger_"+trigger_count)

	updateTriggerDeleteButtons()

}

function back() {
	var cur_step = $(this).parents(".step");
  cur_step.addClass("hidden_step").fadeOut(200*animation_speed).slideUp(200*animation_speed)
  var prev_step = cur_step.prev()
  console.log("back",prev_step)

  while(!prev_step.is(":visible")) {
  	prev_step = prev_step.prev()
  }

  activateStep(prev_step)

  //case for AND trigger
  if(cur_step.hasClass("trigger") && !cur_step.is($(".step.trigger:first")) ) {
  	cur_step.next().remove() //trigger params
  	cur_step.remove() //triger select
  }

  updateTriggerDeleteButtons()

}

function updateTriggerDeleteButtons() {

	if($(".step.trigger").length>1) {
		$(".trigger_delete").show()
	} else {
		$(".trigger_delete").hide()
	}
}


function activateStep(show_step) {
	setTimeout(function() {
		show_step.find(".back").show() //show back button in new step

		show_step.show()
			.animate({opacity: 1}, 500*animation_speed);

	  show_step.find(".selected").removeClass("selected")

	  $('html, body').animate({
	      scrollTop: show_step.offset().top
	  }, 500*animation_speed);

	  show_step.removeClass("hidden_step")
	}, 100*animation_speed)
}

function animateToNextStep(show_step) {
	console.log("animateToNextStep",show_step.attr("class"))


	$(".step").css({opacity: 0.5}).addClass("hidden_step") //hide all steps
	$(".back").hide() //hide all back buttons

	activateStep(show_step)

}

function toStep(step_name) {

	console && console.log("to step: "+step_name)
	var show_step = $(".step."+step_name)
	animateToNextStep(show_step)

}

function toNextStep(step_name) {
	var cur_step = $(this).parents(".step");
	console.log("toNextStep cur_step:",cur_step,cur_step.attr("class"))
	var next_step = cur_step.next();
	if(step_name) {
		next_step = $(".step."+step_name)
	}
	console.log("next_step:",next_step.attr("class"))
	animateToNextStep(next_step);

}
 
function onSiteSelected() {
	if($("#site").val()) {
 		toNextStep.apply(this,["trigger"])
 	}
}

function getRecipeStructure() {

	var ret = {triggers:[],action:{}};

	$(".step.trigger_params:visible").each(function() {
		ret.triggers.push({
			name: $(this).find(".trigger_name").html(),
			method: $(this).find(".trigger_settings:visible .trigger_method").val(),
			param: $(this).find(".trigger_settings:visible .trigger_param").val()
		})
	})


	ret.action.name = $(".step.action_params .action_name").html()
	ret.action.params = []
	$(".step.action_params .action_params:visible .action_param").each(function() {
		ret.action.params.push( {
			name: $(this).attr("name"),
			val: $(this).val()
		})
	})
	return ret;
}

function saveRecipe(on_success) {
	var recipe_struct = {wizard_json: JSON.stringify(getRecipeStructure()), site_id: $("#site").val()}

	console.log("SAVING RECIPE", recipe_struct);

	var params = {recipe_json: JSON.stringify(recipe_struct)}

	if($(".step.site_create").is(":visible")) {
		params.site = JSON.stringify({	
				url:$("input[name=site_url]").val(), 
				timezone_minutes: $("select[name=site_timezone_minutes]").val()
			})
	}

	if($(".step.account_create").is(":visible")) {
		params.user = JSON.stringify({
			email:$("#email").val(),
			full_name: $("#full_name").val(),
			password:$("#password").val()
		})
	}


	$.get("/api/recipe_create", params, function(resp) {
		var resp = JSON.parse(resp)
		console.log("response",resp)
		if(resp.error) {
			if($.isArray(resp.error)) {
				for(var i=0;i<resp.error.length;i++) {
					alert(resp.error[i])
				}
			} else {
				alert(resp.error)
			}
		} else {
			on_success()
		}

	})


}

$(function() {
	$(".back").addClass("btn btn-default").prepend("<i class='glyphicon glyphicon-chevron-up'></i> ")
	$(".step:first").show();
	$(".step").prepend("<div class=overlay_disabled></div>");
	var step = 1;
	var total = $(".step").length-1;
	$(".step").each(function() {
		if(step<=total) {
			$(this).find(".wizard-progress").append(" step "+step+" of "+total+" ")
			step++
		}
	})

	$(document).on("click","a.back",function() {
		back.apply(this);
	})

	$(document).on("click",".trigger_delete",function() {
		var cur_step = $(this).parents(".step");
		if(cur_step.hasClass("trigger") && !cur_step.hasClass("hidden_step")) {
			back.apply(this);
			return;
		}
		cur_step.next().slideUp(animation_speed*500).fadeOut(animation_speed*500,function() { $(this).remove(); updateTriggerDeleteButtons() })
		cur_step.slideUp(animation_speed*500).fadeOut(animation_speed*500,function() { $(this).remove(); updateTriggerDeleteButtons() })
		
	});

	var offset = new Date().getTimezoneOffset();
	offset = -offset;
	console.log('setting timezone to user browser timezone',-offset)
	$("[name=site_timezone_minutes]").val(offset);

	$("form#register").submit(function(e) {
		e.preventDefault();
	})

	$(document).on("change",".step.trigger_params .trigger_settings .trigger_method",function() {
		var method = $(this).val()
		$(this).next().find("#trigger_param").toggle(_.str.contains(method,"?"))
	});


})

</script>

<ul class="steps" id=recipe_animated>
	<% if current_user %>
		<h1>New Recipe</h1>
		<li class='step site_select'>
				<div class='wizard-progress'></div>
				Select site:
				<select id=site onChange='onSiteSelected.apply(this)'>
					<option value=''>--select site--</option>
					<% current_user.sites.each do |site| %>
						<option value=<%= site.id%>><%= site.name_or_url %></option>
					<% end %>
				</select>
				or <a onclick='toNextStep.apply(this)' class='btn btn-default'>add site</a>
		</li>
	<% end %>

	<li class='step site_create'>
	
		<div class='wizard-progress'>
			<% if current_user %>
				<a  class='back'>back</a>
			<% end %>
		</div>
		<h1>Specify your site</h1>
		<% if !current_user %>
		<a href=/users/sign_in>already have account?</a>
		<br>
		<br>
		<% end %>
		<table>
			<tr>
				<td>
				Url:
				<td><input id=site_url name=site_url style='width:100%'><br>
			<tr>
				<td>
				Timezone:
				<td>
				<select name='site_timezone_minutes'>
		    <%= options_for_select ApplicationHelper::timezones %>
		    </select>
    </table>
    <br>
    <br>
		<a onclick=toNextStep.apply(this) class='btn btn-default'>next</a>
		* - in order for recipe to work you will have to add code snippet to your site layout
	</li>

	<li class='step trigger'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<h1>if <b>this</b> then that</h1>
		<button type="button" class="btn btn-danger btn-circle trigger_delete">
    		<i class="glyphicon fa fa-trash"></i>
    </button>
		<h1>Choose Trigger</h1>
		<div style='font-size:20px'>
			<% ApplicationHelper::triggers.each do |trigger| %>
				<div class="trigger_select" onclick='toTriggerParams.apply(this,["<%= trigger[:name] %>"])'><%= trigger[:name] %></div>
			<% end %>
		</div>
	</li>

	<li class='step trigger_params'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<h2 class='trigger_name'>Trigger name</h2>
		<% ApplicationHelper::triggers.each do |trigger| %>
			<div class=trigger_settings data-trigger-name='<%= trigger[:name]%>'>
				<select style='float:left' class='trigger_method'>
					<%= render partial: "wizard_trigger_methods", locals: {trigger:trigger} %>
				</select>
				<%= render partial: "wizard_trigger_params", locals: {trigger:trigger} %>
			</div>
		<% end %>
		<center>
		<h3>
		<a onclick='anotherTrigger.apply(this)'>AND another condition (trigger)</a> or
		<a onclick='toNextStep.apply(this)' id=set_action>set action</a>
		</h3>
		</center>
	</li>


	<li class='step action'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<h1>Choose Action</h1>
		<div style='font-size:20px'>
			<% ApplicationHelper::actions.each do |action| %>
				<div class="action_select" id="<%= action[:name] %>" onclick='toActionParams("<%= action[:name] %>")'><%= action[:name] %></div>
			<% end %>
		</div>
	</li>


	<li class='step action_params'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<h1 class='action_name'>Action Parameters</h1>
		<% ApplicationHelper::actions.each do |action| %>
			<%= render partial:"wizard_action_params", locals: {action:action} %>
		<% end %>
		<center>
		<h4>

		<% if !current_user %>
			<a id=save_recipe onclick='toNextStep.apply(this)'>register and save recipe</a>
		<% else %>
			<a id=save_recipe onclick='var self = this; saveRecipe(function() {toNextStep.apply(self)})'>save recipe</a>	
		<% end %>
		</h4>
	</li>

	<% if !current_user %>
		<li class='step account_create'>
			<div class='wizard-progress'><a onclick='$("#site").val("")' class='back'>back</a></div>
			<h1>REGISTER TO COMPLETE YOUR FIRST RECIPE</h1>
			<form id=register>
				<table>
				<tr>
					<td>
					your email: 
					<td><input name=email id=email><br>
				<tr>
					<td>
					choose password: <td><input type=password name=password id=password><br>
				</table>
				<br>
				<input type=submit id=done onclick='var self = this; saveRecipe(function() {window.location="/recipes/after_user_create"})' class='btn btn-default' value='done'>
			</form>
		</li>
	<% end %>

	<li class='step done'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<span class=message>thank you, recipe saved</span>
	</li>


	<div style='height:1000px'>
	</div>

</ul>