<style>

#site option {
	font-size: 14px;
}

a {
	cursor: pointer;
}
.step {
	border-top: 1px solid black;
}

.wizard-progress {
	font-size: 14px;
	text-align: right;
	height: 14px;
}

.trigger_select.selected {
	background: #ddd;
}

.trigger_select, .action_select {
	cursor: pointer;
}

.step {
	display:none;
	padding: 20px;
}

ul.steps {
	list-style: none;
}

.trigger_settings {
	display: none;
}

.trigger_delete {
	position: absolute;
	margin-left: -80px;
	margin-top: 20px;
	display: none;
}

.back {
	display: none;
}

.trigger_select, .action_select { 
	cursor: pointer;
	display: inline-block;
	border: 1px solid black;
	margin: 5px;
	padding: 5px 10px;
}

select, input[type=text], input[type=date], input[type=time], #recipe { 
	border:0; color:#000000; background: #fff;
	font-size:20px; font-weight:bold; padding:2px 10px; 
 *background:#FFFFFF; -webkit-appearance: none; 
}


.step.hidden_step a {
   pointer-events: none;
   cursor: default;
}


</style>

<script>

var animation_speed = 1;

function toTriggerParams(trigger_name) {
	$(this).addClass("selected")
	toNextStep.apply(this);
	$(".step.trigger_params .trigger_name").html(trigger_name)
	$(".step.trigger_params .trigger_settings").hide()
	$(".step.trigger_params .trigger_settings[data-trigger-name='"+trigger_name+"']").show()
}

function toActionParams(action_name) {
	toStep("action_params");

	$(".step.action_params .action_name").html(action_name);

  $(".step.action_params .action_params").hide();
  $(".step.action_params .action_params[data-action-name='"+action_name+"']").show()
}



var trigger_count = 1;

function anotherTrigger() {
	trigger_count++;
	var cur_step = $(this).parents(".step");

	cur_step.after($(".step.trigger_params")[0].outerHTML)
	cur_step.after($(".step.trigger")[0].outerHTML)

	$(".step.trigger:last").hide().addClass("and trigger_"+trigger_count)
	$(".step.trigger_params:last").hide().addClass("and trigger_params_"+trigger_count)

	$(".step.trigger_"+trigger_count+" .trigger").attr("onclick",'toStep("trigger_params_'+trigger_count+'")')

	toStep("trigger_"+trigger_count)

	updateTriggerDeleteButtons()

}

function back() {
	var cur_step = $(this).parents(".step");
  cur_step.addClass("hidden_step").fadeOut(200*animation_speed).slideUp(200*animation_speed)

  activateStep(cur_step.prev())

  //case for AND trigger
  if(cur_step.hasClass("trigger") && !cur_step.is($(".step.trigger:first")) ) {
  	cur_step.next().remove() //trigger params
  	cur_step.remove() //triger select
  }

  updateTriggerDeleteButtons()

}

function updateTriggerDeleteButtons() {

	if($(".step.trigger").length>1) {
		$(".trigger_delete").show()
	} else {
		$(".trigger_delete").hide()
	}
}


function activateStep(show_step) {
	setTimeout(function() {
		show_step.find(".back").show() //show back button in new step

		show_step.show()
			.animate({opacity: 1}, 500*animation_speed);

	  show_step.find(".selected").removeClass("selected")

	  $('html, body').animate({
	      scrollTop: show_step.offset().top
	  }, 500*animation_speed);

	  show_step.removeClass("hidden_step")
	}, 100*animation_speed)
}

function animateToNextStep(show_step) {


	$(".step").css({opacity: 0.5}).addClass("hidden_step") //hide all steps
	$(".back").hide() //hide all back buttons

	activateStep(show_step)

}

function toStep(step_name) {

	console && console.log("to step: "+step_name)
	var show_step = $(".step."+step_name)
	animateToNextStep(show_step)

}

function toNextStep() {
	var cur_step = $(this).parents(".step");
	var next_step = cur_step.next();
	animateToNextStep(next_step);

}

$(function() {
	$(".step.site_select").show();

	$(document).on("click","a.back",function() {
		back.apply(this);
	})

	$(document).on("click",".trigger_delete",function() {
		var cur_step = $(this).parents(".step");
		if(cur_step.hasClass("trigger") && !cur_step.hasClass("hidden_step")) {
			back.apply(this);
			return;
		}
		cur_step.next().slideUp(animation_speed*500).fadeOut(animation_speed*500,function() { $(this).remove(); updateTriggerDeleteButtons() })
		cur_step.slideUp(animation_speed*500).fadeOut(animation_speed*500,function() { $(this).remove(); updateTriggerDeleteButtons() })

		
	});

})

</script>

<ul class="steps" id=recipe_animated>
	<li class='step site_select' style='border-top:none;font-size:40px;'>
		Select site:
		<select id=site onChange='toNextStep.apply(this)'>
			<option value=''>--select site--</option>
			<% current_user.sites.each do |site| %>
				<option value=<%= site.id%>><%= site.name_or_url %></option>
			<% end %>
		</select>
		or <a href=#>add site</a>
	</li>

	<li class='step start'>
		<div class='wizard-progress'><a onclick='$("#site").val("")' class='back'>back</a></div>
		<h1>if <a onclick='toNextStep.apply(this)'>this</a> then that</h1>
	</li>

	<li class='step trigger'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<button type="button" class="btn btn-danger btn-circle trigger_delete">
    		<i class="glyphicon fa fa-trash"></i>
    </button>
		<h1>Choose Trigger</h1>
		<div style='font-size:20px'>
			<% ApplicationHelper::triggers.each do |trigger| %>
				<div class="trigger_select" onclick='toTriggerParams.apply(this,["<%= trigger[:name] %>"])'><%= trigger[:name] %></div>
			<% end %>
		</div>
	</li>

	<li class='step trigger_params'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<h2 class='trigger_name'>Trigger name</h2>
		<% ApplicationHelper::triggers.each do |trigger| %>
			<div class=trigger_settings data-trigger-name='<%= trigger[:name]%>'>
				<select style='float:left'>
					<%= render partial: "wizard_trigger_methods", locals: {trigger:trigger} %>
				</select>
				<%= render partial: "wizard_trigger_params", locals: {trigger:trigger} %>
			</div>
		<% end %>
		<center>
		<h3>
		<a onclick='anotherTrigger.apply(this)'>AND another condition (trigger)</a> or <a onclick='toNextStep.apply(this)'>set action</a>
		</h3>
		</center>
	</li>


	<li class='step action'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<h1>Choose Action</h1>
		<div style='font-size:20px'>
			<% ApplicationHelper::actions.each do |action| %>
				<div class="action_select" onclick='toActionParams("<%= action[:name] %>")'><%= action[:name] %></div>
			<% end %>
		</div>
	</li>


	<li class='step action_params'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		<h1 class='action_name'>Action Parameters</h1>
		<% ApplicationHelper::actions.each do |action| %>
			<%= render partial:"wizard_action_params", locals: {action:action} %>
		<% end %>
		<center>
		<h4>
		<a onclick='toNextStep.apply(this)'>done</a>
		</h4>
	</li>


	<li class='step done'>
		<div class='wizard-progress'><a class='back'>back</a> </div>
		thank you, recipe saved
	</li>


	<div style='height:1000px'>
	</div>

</ul>