    <% @title = 'Site Automation With Sitefoil' %>
<% @description = 'Automate Your Site' %>

    <% if user_signed_in? %>

<div class="container">
<h2>SiteFoil Dashboard</h2>
    <div class="jumbotron center">
     <h3>Welcome to Sitefoil!</h3>
 
        
   
      
  
</div>
</div>
  <% else %>
  





    <div class="row slide1" style="background:#f4f4f4;">
    <img src="https://s3-us-west-2.amazonaws.com/sitefoil/images/grey-wall-background.jpg" alt="First slide" class="slide-bg hidden-xs hidden-lg hidden-sm hidden-md">


<!-- Static Header -->
                    <div class="header-text">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span><strong>AUTOMATE WITH SITEFOIL</strong></span>
                            </h2>
                            <h3>
                               <strong> Keep your webstore fresh,</strong>
                                <span> while you do other important stuff.</span>
                            </h3>
                            <div class="container hidden-xs">
                            <div class="row">
                                <div class="col-md-12" style="background-image:url(https://s3-us-west-2.amazonaws.com/sitefoil/images/franklinsimon.jpg); background-size:100%; background-repeat:no-repeat;min-height:400px;">
                                    
                                </div>
                            </div>
                                <div class="row" style="display:none;">
                                    <div class="col-md-3 col-sm-2 col-xs-12"></div>
                                    <div class="col-md-6 col-sm-8 col-xs-12" style="background-image:url(https://s3-us-west-2.amazonaws.com/sitefoil/images/wizard-sample.jpg); background-size:cover; border-radius:14px;min-height:400px;display:block; border:15px solid #000; background-position: center top; background-repeat:no-repeat;">    
                                      
                                        
                                    </div>
                                    <div class="col-md-3 col-sm-2 col-xs-12"></div>    
                                </div>
                            </div>
                            <br>

                             <div class="">
                                <%= link_to "Sign Up For Beta", signup_path, class: "btn btn-primary btn-lg active" %>

                                </div>
                            <div style="display:none;">
                                <%= link_to "Start now for free", new_recipe_path, class: "btn btn-primary btn-lg active" %>

                                </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /header-text -->






        
    </div>

   
    <div class="clearfix"></div>
    <div class="row slide2">
  

<!-- Static Header -->
                    <div class="header-text text-center">
                        <div class="col col-md-6 col-sm-12 text-center">
                            <h2>
                                <span><strong>Sitefoil Is A Simple Website Add-On</strong></span>
                            </h2>
                            <br>

                            <h3>
                                <span>Sitefoil tracks your website visitors and automatically performs <%= link_to "all kinds of custom actions", features_path %> when you want it to based on <%= link_to "all kinds of triggers", features_path %>.<br /><br />Add a snippet of code to your site and schedule personalized experiences right away. <br /><br /></span>
                            </h3>
                            <br>
                            <div class="">
                                <%= link_to "SIGN UP", signup_path, class: "btn btn-primary btn-lg active" %>
                                 
  

                                </div>
                        </div>

                        
                        <div class="clearfix"></div>
                    </div><!-- /header-text -->





        
    </div>

    <div class="row slide3">

                    <div class="header-text text-center">
                    <div class="col col-md-12">
                    <h2 class="text-center"><strong>Things You Can Do With SiteFoil</strong></h2>
                    </div>
                    <div class="container">
                    <div class="row">
                   
                    <div class="col col-md-4 text-center">
                    <span class="glyphicon glyphicon-fire big-glyphicon text-center" style="margin:auto;"></span>
                    <h3 class="dark-text">Light Up Slow Periods</h3>
                        <p>Automatically target visitors with promotions until your target conversion rate is reached.</p>
                    </div>

                    <div class="col col-md-4">
                    <span class="glyphicon glyphicon-flash big-glyphicon text-center" style="margin:auto;"></span>
                    <h3 class="dark-text">Schedule Everything</h3>
                        <p>Display or hide targeted content and promotions on your schedule, down to the minute.</p>
                    </div>
                    
                    </div>
                        <div class="row">
                            
                            <div class="col col-md-4 text-center">
                            <span class="glyphicon glyphicon-signal big-glyphicon text-center" style="margin:auto;"></span>
                            <h3 class="dark-text">Grow Conversion Rates</h3>
                                <p>Keep products at full price and auto-fill & submit discount codes for delighted new visitors.</p>
                            </div>

                            <div class="col col-md-4">
                            <span class="glyphicon fa fa-thumbs-up big-glyphicon text-center" style="margin:auto;"></span>
                            <h3 class="dark-text">Do It Yourself, Finally</h3>
                                <p>No coding, no technial knowledge, and no need to learn how to program.</p>
                            </div>
                            
                        </div>
                        <div class="row" style="display:none;">
                       
                        <div class="col col-md-4 text-center">
                        <span class="glyphicon glyphicon-signal big-glyphicon text-center" style="margin:auto;"></span>
                        <h3 class="dark-text">Encourage Larger Orders</h3>
                            <p>Automatically let customers know when they're a few bucks short of a better deal.</p>
                        </div>

                        <div class="col col-md-4">
                        <span class="glyphicon fa fa-thumbs-up big-glyphicon text-center" style="margin:auto;"></span>
                        <h3 class="dark-text">Do It Yourself, Finally</h3>
                            <p>No coding, no technial knowledge, and no need to learn how to program.</p>
                        </div>
                        
                        </div>
                    </div>
                     <div class="col col-md-12 text-center">
                   <%= link_to "Test it now for Free", signup_path, class: "btn btn-primary btn-lg active" %>
                    </div>


                    </div>

    </div>

     <div class="row slide4" style="background:#fff;">
    

<!-- Static Header -->
                    <div class="header-text">
                        
                        

                        <div class="col col-md-12 col-sm-12 text-center" style="background:#FFF;">
                            <h2 class="dark-text">
                                <span><strong>Sample SiteFoil Recipes</strong></span>
                            </h2>
                            <br/>
                           
                            <div class="container">
                            <div class="row>">
                                
                                

                                
                                
                                <div class="col col-md-4">
                                    <div class="rounded-box">  
                                        <span class="glyphicon fa fa-shopping-cart big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>    
                                          
                                    <div class="rounded-box">  
                                         <span class="glyphicon fa fa-users big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                         
                                    <div class="rounded-box">  
                                        <span class="glyphicon fa fa-money big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                    <h3>Conversion Rate Targeting</h3>
                                    <h4>E-Commerce <i class="fa fa-arrow-right"></i> Site Visitors <i class="fa fa-arrow-right"></i> Promotion</h4>
                                    <p>If the site's conversion rate is below 3% and a site visitor is new, pop-up a custom alert.</p>
                                </div>

                                <div class="col col-md-4">
                                    <div class="rounded-box">
                                        <span class="glyphicon fa fa-users big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                
                                    <div class="rounded-box">   
                                        <span class="glyphicon fa fa-money big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                    <h3>Referral Targeting</h3>
                                    <h4>Site Visitors <i class="fa fa-arrow-right"></i> Promotion</h4>
                                    <p>If a site visitor is from Facebook, apply and submit FACEBOOK coupon code in cart</p>
                                </div>

                                <div class="col col-md-4">
                                    <div class="rounded-box">
                                        <span class="glyphicon fa fa-calendar big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                     <div class="rounded-box">   
                                        <span class="glyphicon fa fa-location-arrow big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                    <div class="rounded-box">   
                                        <span class="glyphicon fa fa-envelope big-glyphicon text-center" style="margin:auto;"></span>
                                    </div>
                                    <h3>Promotion Scheduling</h3>
                                    <h4>Time/Date <i class="fa fa-arrow-right"></i> Site URL <i class="fa fa-arrow-right"></i> Promotion</h4>
                                    <p>If today is Wednesday, display a hidden message on a specific page. </p>

                                    
                                </div>

                            </div>
                            </div>
                             <h3 class="dark-text">
                                <span>Sign up as a BETA tester to build your first "recipe" and run it forever for free.  </span>
                            </h3>
                            <div class="">
                                <%= link_to "Sign me up", signup_path, class: "btn btn-primary btn-lg active" %>
                                 
  

                                </div>
                        </div>        
                        </div>

                        <div class="clearfix"></div>
                    </div><!-- /header-text -->

<div class="row slide5" style="display:none;">

                    <div class="header-text text-center">
                    <div class="col col-md-12">
                    <h2 class="text-center dark-text"><strong>If You Have Scrolled Down This Far</strong></h2>
                    </div>
                    
                    <h3 class="dark-text">You're probably still not sure how this works. Here goes:</h3>
                    <div class="col-md-3 col-xs-12"></div>
                    <div class="col col-md-6 col-xs-12 text-left">
                    
                    <P><strong>STEP ONE: </strong>We'll give you some code that you or your website person needs to paste on your website; it's the same way that Google Analytics works.</p>
                    <p><strong>STEP TWO:</strong> Once verified, we'll walk you through how to quickly set up available automation channels that let you do things on your website like show pop ups, add auto discounts, display hidden text, and other awesome stuff.</p>
                    <p><strong>STEP THREE:</strong> Create your first recipe for free. Smile because it's so damn easy and free.</p>
                    <p><strong>STEP FOUR:</strong> Sit back and watch, continue to experiment, or do whatever it is that you enjoy doing. </p>
                  
                    </div>
                    <div class="col-md-3 col-xs-12"></div>


                     <div class="col col-md-12 text-center">
                   <%= link_to "OK I think I get it now, let's try this", new_recipe_path, class: "btn btn-primary btn-lg active" %>
                    </div>


                    </div>

    </div>



        
    </div>



  <% end %>  
<% content_for :body_class, "home" %>