
console.log("sitefoil tracker.js script started, site_id: "+<%= @site.id rescue 'not defined' %>)

'use strict';
var sitefoil = {
	language: (window.navigator.userLanguage || window.navigator.language),
	visitor: JSON.parse('<%= raw(@hit.to_json) %>'),
	site: JSON.parse('<%= raw(@site_hash.to_json) %>'),
	page_load: false,
	el_click: false,
	el_clicked_id: "",
	page_url_match: function(pattern) {
		pattern = "^"+pattern.replace(/\*/g,".*")+"$"
		console.log(location.href, " - checking url match to: ", pattern)
		return location.href.match(new RegExp("^"+pattern+"$"))!=null;
	},
	email_to: function(to_email,text) {
		console.log("sending email message")
		this.$.post("<%= @app_base %>/tracker/email_action",{
			to_email: to_email,
			text: text
		})
	},
	//TODO: not secure at all, anyone can trigger it
	report_recipe_hit: function(recipe_id) {
		console.log("reporting recipe hit")
		
		sitefoil.$.get("<%= @app_base %>/api/report_recipe_hit",{id:recipe_id},function() {
			console.log("recipe hit reported")
		});

	},
	autofill_and_submit: function(selector,value) {
		console.log("sitefoil action 'autofill and submit'")
		var submit_data = JSON.stringify({url:window.location.href,selector:selector,value:value})
		if(sitefoil.$.cookie("last_autofill_and_submit")==submit_data) {
			console.log("detected just submitted from same location, ignoring")
			sitefoil.$.removeCookie("last_autofill_and_submit")
			return;
		}

		if(this.$(selector).length>0) {
			this.$(selector).val(value)
			var form = this.$(selector).parents("form")
			if(form.length>0) {
				console.log("submitting form")
				sitefoil.$.cookie("last_autofill_and_submit",submit_data)
				form.submit()
			} else {
				console.log("parent form not found")
			}
		} else {
			console.log("selector: ",selector," not found")
		}
	},
	visitor_type: function() {
		if(this.visitor.new_visitor) {
			return 'new'
		} else {
			return 'returning'
		}
	},
	banner_show: function(html) {
		console.log("banner_show")
		sitefoil.$("body").prepend('<div class=sitefoil-banner style=z-index:99999;position:fixed;top:0px;width:100%;margin:0px;padding:0px;></div>')
		sitefoil.$(".sitefoil-banner:last").html(html)
	},
	footer_show: function(html) {
		console.log("footer_show")
		sitefoil.$("body").prepend('<div class=sitefoil-footer style=z-index:99999;position:fixed;bottom:0px;width:100%;margin:0px;padding:0px;></div>')
		sitefoil.$(".sitefoil-footer:last").html(html)
	},
	popup_close: function() {
  			sitefoil.$("#sitefoil_popup").remove()
  			sitefoil.$("#sitefoil_popup_overlay").remove()
  			sitefoil.$(document).unbind("keydown",sitefoil.popup_document_keydown)
  			sitefoil.$(document).unbind("mousedown",sitefoil.popup_close)
	},
	popup_document_keydown: function(e) {
    	console.log("document keydown popup_show")
  		if(sitefoil.$("#sitefoil_popup").is(":visible") && (e.keyCode==27 || e.keyCode==13)) {
  			sitefoil.popup_close()
  		}
  },
	popup_show: function(opt) {
		var html = opt['html'];
		console.log("popup show", opt)
		if(opt['once_per_session']) {
			var cookie_name = 'popup_'+opt['recipe_id']+'already_displayed'
			if(sitefoil.$.cookie(cookie_name)) {
				console.log("popup for recipe id:"+opt['recipe_id']+ ' already displayed during this session, skipping')
				return
			} else {
				sitefoil.$.cookie(cookie_name,true)
			}

		}
		sitefoil.$("body").prepend(
			'<div id=sitefoil_popup_overlay style="z-index:10000;position:fixed;top:0px;left:0px;width:100%;height:100%;background:#000;opacity:0"></div>'+
			'<div id=sitefoil_popup style="opacity:0;display:none;padding:20px;box-shadow:rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;background:#fff;top:0px;animation-top:2s;position:fixed;z-index:10001;">'+html+
			'<center><input style="margin-top:20px;border:#eee;border-radius:5px;padding:10px;cursor:pointer;" type=button id=sitefoil_popup_ok onclick=sitefoil.popup_close() value="ok"></center>'+
			'</div>')
		var popup = sitefoil.$("#sitefoil_popup");
		popup.css("left","calc(50% - "+popup.outerWidth()/2+"px)").css("top","0px")
		sitefoil.$("#sitefoil_popup_overlay").animate({opacity:0.6},200,function() {

			popup.show().animate({opacity:1,top:(sitefoil.$(window).height()-popup.outerHeight())/2 },200,function() {
				popup.css("top","calc(50% - "+popup.outerHeight()/2+"px)")
			})

		})

    sitefoil.$(document).bind("keydown",sitefoil.popup_document_keydown)
    sitefoil.$("#sitefoil_popup_overlay").bind("mousedown",sitefoil.popup_close)

	},
	date_int: (new Date('<%= "#{DateTime.now.to_date.to_s} 00:00:00 "+ @site.timezone_string %>')).valueOf(),
	date_to_int: function(date_string) {
		var ret = (new Date(date_string+" 00:00:00 "+sitefoil.site.timezone_string)).valueOf();
		console.log("date_int for  "+date_string + " is " + ret+", current sitefoil.date_int: "+sitefoil.date_int)
		return ret;
	},
	hours_minutes_int: <%= @site.time.hour%>*60+<%= @site.time.min %>,
	hours_minutes_to_int: function(s) {
		try {
		  var parts = s.split(":")
		  return parseInt(parts[0])*60+parseInt(parts[1])
		} catch(err) {
			console.log(err.message)
		}
	},
	getUrlParameter: function(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
	},
	recipes: function() {
		var page_load = this.page_load;
		var el_click = this.el_click;
		var el_clicked_id = this.el_clicked_id;
		var el_clicked_selector = "#"+this.el_clicked_id;
		var visitor = this.visitor;
		var site = this.site;
		var any_event = (page_load || el_click)
		var only_recipe_id = this.getUrlParameter("sitefoil_only_recipe_id")
		// || sitefoil.$.cookie("sitefoil_recipe_id");
		if(only_recipe_id) {
			console.log("ONLY RECIPE ID:",only_recipe_id)
			//sitefoil.$.cookie("sitefoil_recipe_id",only_recipe_id)
		}
		console.log("el_click",el_click)
		console.log("el_clicked_id",el_clicked_id)

	  <% if @site %>  

			  //running recipes
					if(page_load) {
						console.log("page load events")
					  <% @site.recipes.where(enabled:true).each do |recipe| %>			  	
					  	console.log("checking recipe condition, recipe_id: ",<%= recipe.id %>)
					  	if(!only_recipe_id || only_recipe_id==<%= recipe.id %>) {
					  		var recipe_id = <%= recipe.id %>
					  		<%= recipe.js.html_safe %>
					  	}
		        <% end %>
					}

					if(el_click) {
				  <% @site.recipes.where(enabled:true).each do |recipe| %>			  	
				  	<% if recipe.js.include? "(el_click"  %>
				  	if(!only_recipe_id || only_recipe_id==<%= recipe.id %>) {
				  			var recipe_id = <%= recipe.id %>
					    	<%= recipe.js.html_safe %>
					    }
				    <% end %>
				  <% end %>
					}

		<% end %>

	},
	save_visitor_data: function() {
		var hit_id = "<%= @hit.id %>"
		var xhr = new XMLHttpRequest()
		var url = "<%= @app_base %>/tracker/data_from_script?hit_id="+hit_id+
		          "&hit[referrer]="+encodeURIComponent(document.referrer)
		xhr.open('GET', url);
		xhr.onreadystatechange = function (data) {
		  if(xhr.readyState==4) {
		    console.log(xhr.responseText)
		  }
		}
		xhr.send();
	}
};


sitefoil.$ = $.noConflict(true)

if(save_$) { 
  $ = save_$;
}

if(save_jquery) {
	jQuery = save_jquery;
}


sitefoil.save_visitor_data()

sitefoil.$(function() {
	sitefoil.page_load = true;
	console.log("triggering page load events")
	sitefoil.recipes()
	sitefoil.page_load = false;
})


sitefoil.$(document).bind("click",function(e) {
	sitefoil.el_click = true;
	sitefoil.el_clicked_id = e.target.id
	console.log("id",sitefoil.el_clicked_id)
	sitefoil.recipes()
	sitefoil.el_clicked_id = "";
	sitefoil.el_click = false;
})
