
 <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="container"><div class="row">
  <div class="col-lg-4 col-md-3 col-sm-3"></div>
  <div class="col-lg-4 col-md-6 col-sm-6">

          <div class="jumbotron text-center">
            <div class="container">
              <span class="glyphicon glyphicon-hand-down hidden-xs text-center" style="margin:auto;"></span>
              <h2>Sign In</h2>
            
                      <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <%= f.email_field :email, class: "form-control", :autofocus => true, :placeholder => 'Email Address' %>
                        </div>
                        <br>
                       
                        <div class="col-xs-12 col-sm-12 col-md-12">
                  	     <%= f.password_field :password, class: "form-control", :autofocus => true, :placeholder => 'password' %>
                        </div>
                        <br>
                        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                          <%= button_tag( :class => "btn btn-default full-width") do %>
                    		  <span class="glyphicon glyphicon-ok"></span>
                        </div>
                      </div>
                   </div>       
              <% end %>
          </div>
  </div>

  <div class="col-lg-4 col-md-3 col-sm-3"></div>
</div></div>
<div class="clearfix"></div>
</div>


 <% end %>
<div class="clearfix"></div>


<div class="panel-footer" style="display:none;">
    <%= render "devise/shared/links" %>
  </div>

<% content_for :body_class, "small-form" %>