<h1>Listing triggers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Channel</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @triggers.each do |trigger| %>
      <tr>
        <td><%= trigger.name %></td>
        <td><%= trigger.description %></td>
        <td><%= trigger.channel_id %></td>
        <td><%= link_to 'Show', trigger %></td>
        <td><%= link_to 'Edit', edit_trigger_path(trigger) %></td>
        <td><%= link_to 'Destroy', trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trigger', new_trigger_path %>
