<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :coupon_url, "Coupon Field Location" %><br>
    <%= f.text_field :coupon_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :coupon_id, "Coupon Field ID" %><br>
    <%= f.text_field :coupon_id, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :checkout_url, "Checkout Page URL Location" %><br>
    <%= f.text_field :checkout_url, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :confirmation_url, "Order Confirmation Page URL Location" %><br>
    <%= f.text_field :confirmation_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :total_id, "Total ID" %><br>
    <%= f.text_field :total_id, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
 
<% end %>
