<p id="notice"><%= notice %></p>




  <h1><%= @site.name %></h1>


<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Location of Coupon Code Field:</strong>
  <%= @site.coupon_url %>, <strong>ID of field</strong>: <%= @site.coupon_id %>
</p>

<p>
  <strong>Location of Confirmation and Order Total:</strong>
  <%= @site.confirmation_url %>, <strong>ID of field</strong>: <%= @site.total_id %>
</p>


<div class="jumbotron center">
<h2>Copy and paste the following code just before the "&lt;/html&gt;" tag on <strong> all pages</strong> of your website:</h2>
<textarea class="form-control" id="siteTextarea" readonly >
   <script src=http://<%= request.host_with_port %>/tracker.js />
</textarea>
</div>

<div class="jumbotron center">
<h2>Copy and paste the following code just before the "&lt;/html&gt;" tag on <strong> your order confirmation page</strong> of your website:</h2>
<textarea class="form-control" id="siteTextarea" readonly >
   <script src=http://<%= request.host_with_port %>/tracker/order_confirmation.js />
</textarea>

<div class="jumbotron">
<h3>Test Status</h3>

<table class="table table-responsive" style="text-align:left;">
<tr><th>Code</th><th>Status</th></tr>
<tr><td>Sitewide Code</td><td>run test, found, or not found</td></tr>
<tr><td>Confirmation Code</td><td>run test, found, not found, found but missing order totals</td></tr>

</table>


</table>

<a href="#" class="btn btn-primary">Run New Test</a>

</div>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
