<style>
#site_test_script_installed .error {
  color: red;
}

#site_test_script_installed .success {
  color: rgb(60, 118, 61);
}
</style>


<ol class="breadcrumb">
  <li><a href="/">Dashboard</a></li>
  <li><a href="/sites">Sites</a></li>
  <li class="active">Site</li>
</ol>

<h1><%= @site.name %></h1>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6">
        <h3 class="panel-title"><%= link_to @site.name_or_url, edit_site_path(@site) %></h3><%= link_to 'ADD CODE SNIPPET', code_site_path(@site), class: "btn btn-success btn-sm" %>
         <h4><%= @site.url %> <small style="color:#666;">- created <%= @site.created_at.strftime("%b %d, %Y") %>, site time: <%= @site.time.to_formatted_s(:rfc822)  %></small></h4> 
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 text-right">
        <%= link_to 'EDIT SITE', edit_site_path(@site), class: "btn btn-primary" %>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 text-right">
        <%= link_to 'DELETE', @site, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 col-sm-8">
            
          <div class="container">
              <div class="row">
                  <div class="col-md-2 col-sm-2 col-xs-6 text-center">

                     <h2><%= number_to_human(@site.unique_visitor_hits.count.count, :format => '%n%u', :units => { :thousand => 'K' }) %>
                     </h2>
                        <p>
                          Unique Sessions
                        </p>

                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-6 text-center">

                     <h2><%= number_to_human(@site.hits.count, :format => '%n%u', :units => { :thousand => 'K' }) %></h2>
                        <p>
                          Site Sessions
                        </p>

                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-6 text-center">


                  </div>
              </div>
              <% if !@site.order_url.blank? %>
              <div class="row">
                  <div class="col-md-2 col-sm-2 col-xs-4 text-center">

                     <h2><%= number_to_human(@site.unique_visitors_orders.count.count, :format => '%n%u', :units => { :thousand => 'K' }) %></h2>
                        <p>
                          Total Customers
                        </p>

                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-4 text-center">

                     <h2><%= number_to_human(@site.orders.count, :format => '%n%u', :units => { :thousand => 'K' }) %></h2>
                        <p>
                          Total Conversions
                        </p>

                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-4 text-center">

                     <h2> <%= @site.conversion_rate.round(2) %></h2>
                        <p>
                          Conversion Rate (%)
                        </p>

                  </div>
              </div>

              <% else %>
                <div class="row">
                   <div class="col-md-6 col-sm-6 text-center">
                   <hr>
                  Conversion statistics are not available, please <%= link_to "add a confirmation page URL", "/sites/#{@site.id}/edit?focus_on_order_url" %>
                    </div>
                </div>
              <% end %>
          </div>


          

           





      </div>
      <div class="col-md-4 col-sm-4">
      <h4>Site Settings</h4>

       <ul><li><%= link_to 'Retrieve & Test the Script Snippet', code_site_path(@site) %></li>
          <li><%= link_to 'View Full Site Statistics', stats_site_path(@site) %></li>
        </ul>

        <h4>Current Recipes</h4>

        <% @site.recipes.each do |recipe| %>
        <p>


          <%= link_to recipe.name_or_action, recipe_path(recipe) %>
         
          <a class="btn btn-default btn-xs" href=<%= edit_recipe_path(recipe)%>>edit</a> 
        </p>
        <% end %>
      </ul>


    </div>

  </div>
</div>
</div>