<footer>
  <div class="container">
   
      <ul class="nav navbar-nav  navbar-left">
         <li><%= link_to "About", about_path %></li>
         <li><%= link_to "Privacy", privacy_path %></li>
         <li><%= link_to "Terms Of Use", terms_path %>
        </li>
        <li><%= link_to t('Contact'), new_contact_path %>
      </ul>

      <div style='position:absolute;color:#aaa;right:0px;'>Copyright &copy; <%= Time.now.year %> Sitefoil</div>

  </div><!-- /.container --> 

</footer>

<!-- Footer Tags Go Here -->



<!-- Google Analytics -->
