<footer>
  <div class="container">
   
      <ul class="nav navbar-nav  navbar-left">
        <li><%= link_to "Privacy", privacy_path %></li>
         <li><%= link_to "Terms Of Use", terms_path %>
        </li>
        <li><%= link_to t('Contact'), new_contact_path %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
    </ul>
  <div class="clearfix"></div>
    <div class="container">Copyright &copy; <%= Time.now.year %> sitefoil</div>
   
  </div><!-- /.container --> 
  <div class="clearfix"></div>
</footer>

<!-- Footer Tags Go Here -->



<!-- Google Analytics -->
