<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= @title || Sitefoil %></title>
	<meta name="description" content="<%= @description %>">
	<meta name="robots" content="index, follow">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= csrf_meta_tags %>
	<script src=/bower_components/underscore/underscore-min.js></script>
	<script src=/bower_components/underscore.string/dist/underscore.string.min.js></script>
	<script src=/bower_components/webshim/js-webshim/minified/polyfiller.js></script>
	<!-- Start of sitefoil Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","sitefoil.zendesk.com");/*]]>*/</script>
<!-- End of sitefoil Zendesk Widget script -->
</head>
<body class="<%= yield (:body_class) %>" <% if user_signed_in? %> id="signed_in"   <% else %> id="signed_out" <% end %> >
<div id="wrap">
  <%= javascript_include_tag params[:controller] %>
	<%= render 'layouts/header' %>

	<div id="main">
		<div class="container top-container">
			<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
			<% end %>
			<%= yield %>
		</div>
	</div>
	<div class="push"></div>
</div>	
	<%= render 'layouts/footer' %>
</body>


</html>
