<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= @title || Sitefoil %></title>
	<meta name="description" content="<%= @description %>">

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= yield (:body_class) %>">
<div id="wrap">
  <%= javascript_include_tag params[:controller] %>
	<%= render 'layouts/header' %>

	<div id="main">
		<div class="container top-container">
			<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
			<% end %>
			<%= yield %>
		</div>
	</div>
	<div class="push"></div>
</div>	
	<%= render 'layouts/footer' %>
</body>
</html>
